@media screen and (min-width: 1300px) {
  #margin_global {
    margin: 0 200px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1299px) {
  #logo2 {
    display: none;
  }
  #margin_global {
    margin: 0 50pxpx;
  }
}

@media screen and (min-width: 641px) and (max-width: 999px) {
  #logo2 {
    display: none;
  }
  #margin_global {
    margin: 0 50px;
  }
}

@media screen and (min-width: 526px) and (max-width: 640px) {
  .titulo{
    margin-left: 0px;
  }
  #redes_sociais_icones tr{
    display: grid;
  }
  #logo2 {
    display: none;
  }
  #margin_global {
    margin: 0 20px;
  }
  #redes_sociais_icones tr{
    display: grid;
  }
  #bg{
    width: 80vw;
  }
  #center{
    width: 0.5vw;
  }
  #logo2 {
    display: none;
  }
  #margin_global {
    margin: 0 0px;
  }
  table th:nth-child(1) {
    padding: 0 0 0 0; 
  }
  table th:nth-child(2) {
    padding: 0 0 0 0;
  }
  table th:nth-child(3) {
    padding: 0 0 0 0;
  }
  table th:nth-child(4) {
    padding: 0 0 0 0;
  }
  table th:nth-child(5) {
    padding: 0 0 0 0;
}
  table th:nth-child(6) {
    padding: 0 0 0 0;
  }
  #redes_sociais_icones {
    display: flex;
    justify-content: center;
    padding: 0 0;
  }
  #texto_rodape{
    background:#8dd0d2;
  }
}

@media screen and (min-width: 240px) and (max-width: 535px) {
  .titulo{
    margin-left: 0px;
  }
  *{
    text-align: center;
  }
  #redes_sociais_icones tr{
    display: grid;
  }
  #bg{
    width: 50em;
  }
  #center{
    width: 0.5vw;
  }
  #logo2 {
    display: none;
  }
  #margin_global {
    margin: 0 0px;
  }
  table th:nth-child(1) {
    padding: 0 0 0 0; 
  }
  table th:nth-child(2) {
    padding: 0 0 0 0;
  }
  table th:nth-child(3) {
    padding: 0 0 0 0;
  }
  table th:nth-child(4) {
    padding: 0 0 0 0;
  }
  table th:nth-child(5) {
    padding: 0 0 0 0;
}
  table th:nth-child(6) {
    padding: 0 0 0 0;
  }
  #redes_sociais_icones {
    display: flex;
    justify-content: center;
    padding: 0 0;
  }
  #texto_rodape{
    background:#8dd0d2;
  }
}
@media screen and (min-width: 120px) and (max-width: 239px) {
  .titulo{
    margin-left: 0px;
  }
  *{
    text-align: center;
  }
  #redes_sociais_icones tr{
    display: grid;
  }
  #bg{
    width: 80vw;
  }
  #center{
    width: 0.5vw;
  }
  #logo2 {
    display: none;
  }
  #margin_global {
    margin: 0 0px;
  }
  table th:nth-child(1) {
    padding: 0 0 0 0; 
  }
  table th:nth-child(2) {
    padding: 0 0 0 0;
  }
  table th:nth-child(3) {
    padding: 0 0 0 0;
  }
  table th:nth-child(4) {
    padding: 0 0 0 0;
  }
  table th:nth-child(5) {
    padding: 0 0 0 0;
}
  table th:nth-child(6) {
    padding: 0 0 0 0;
  }
  #redes_sociais_icones {
    display: flex;
    justify-content: center;
    padding: 0 0;
  }
  #texto_rodape{
    background:#8dd0d2;
  }
}
