@media only screen and (max-width: 200px) {
    #margin_global {
      margin: 0;
    }
    #logo2 {
      display: none;
    }
    body {
      float: left;
    }
    #center {
      height: 0.5vh;
    }
  }
  @media only screen and (max-width: 700px) {
    #margin_global {
      margin: 0;
    }
    #logo2 {
      display: none;
    }
    body {
      display: block;
      float: left;
    }
  }
  @media only screen and (max-width: 1000px) {
    #margin_global {
      margin: 0 200px;
    }
    #logo2 {
      display: none;
    }
  }
  @media only screen and (max-width: 1920px) {
    #margin_global {
      margin: 0 200px;
    }
  }
  

