* {
  margin: 0;

  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #086f71;
}
#margin_global {
  margin: 0 200px;
}

header {
  position: fixed;
  width: 100%;
  height: 100px;
  background-image: url(../img/azul.png);
  z-index: 1;
}

#center {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#logo {
  width: 50%;
  margin-top:5px;
}
#logo img {
  width: 180px;
  margin-top: 8px;
  margin-left: 20px;
}

#logo2 {
  display: flex;
  justify-content: right;
  width: 50%;
}

#imagem1 img {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
}
#imagem2 img {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

#imagem3 img{
  width: 95px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.section {
  width: 100%;
}
#alinhador {
  display: flex;
  justify-content: center;
}
.informaçoes {
  margin-top: 100px;
  width: 100%;
}
#data {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
  font-size: 15px;
}
#evento {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin: 20px 0;
}
#center2 {
  display: flex;
  justify-content: center;
}
.botao_inscreva-se {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: #f26b2d;
  border: none;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.botao_inscreva-se:hover {
  background-color: #aa481a;
  transition: 1s;
}
.botao_inscreva-se a {
  text-decoration: none;
  color: white;
}
#imagem {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  align-items: center;
}
#bg {
  width: 600px;
  height: 338px;
  background-image: url(../img/arduino2.jpg);
  margin-bottom: 30px;
}
#informaçoes2 {
  width: 55%;
}
#informaçoes2 p:nth-child(1) {
  font-size: 24px;
}
.box {
  margin-top: 70px;
}
.titulo {
  font-weight: bold;
  margin-left: 50px;
  font-size: 20px;
}
#center3 {
  background-color: #d8e6e6;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 8px;
}
#center4 {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #d8e6e6;
  border-radius: 8px;
}
#center5 {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #d8e6e6;
  border-radius: 8px;
}
#center6 {
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #d8e6e6;
  border-radius: 8px;
}

#texto p {
  padding: 20px;
}
#programaçao {
  margin-top: 50px;
  margin-bottom: 100px;
}
#programaçao h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
#progrmacao table {
  border-collapse: separate;
  border-spacing: 0 200px;
}
#programaçao table th {
  text-align: left;
}
.horarios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  background-color: #8dd0d2;
  border-radius: 20px;
}

.conteudo {
  padding-bottom: 30px;
}

#redes_sociais {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 45px;
  margin-top: 70px;
  margin-bottom: 40px;
}
#redes_sociais_icones {
  padding: 0 45px;
}

table th:nth-child(1) {
  padding: 0 35px 0 0;
}
table th:nth-child(2) {
  padding: 0 10px 0 0;
}
table th:nth-child(3) {
  padding: 0 10px 0 0;
}

table th:nth-child(5) {
  padding: 0 35px 0 35px;
}
table p{
  font-size: 18px;
}

footer {
  width: 100%;
  height: 65px;
  background-color: #8dd0d2;
  margin-top: 100px;
}

#texto_rodape {
  text-align: center;
}
#texto_rodape p {
  color: rgb(3, 60, 63);
  line-height: 65px;
  font-weight: 900;
}

#programaçao{

}

#programaçao2 h2 {
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
#bloco {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
#horario {
  width: 140px;
  height: 60px;
  border-radius: 10px;
  background-color: #8dd0d2;
  color: rgb(3, 60, 63);
  text-align: center;
  font-weight: 900;
}
#horario2 {
  width: 110px;
  height: 168px;
  border-radius: 10px;
  background-color: #8dd0d2;
  color: rgb(3, 60, 63);
  text-align: center;
  font-weight: 900;
  line-height: 180px;
}
#horario3 {
  width: 110px;
  height: 30px;
  border-radius: 10px;
  background-color: #8dd0d2;
  color: rgb(3, 60, 63);
  text-align: center;
  font-weight: 900;
}
#horario p {
  line-height: 30px;
  align-items: center;
}

#dia {
  width: 110px;
  height: 60px;
  border-radius: 10px;
  background-color: #8dd0d2;
  color: rgb(3, 60, 63);
  text-align: center;
  font-weight: 900;
  margin-left: 50px;
  margin-right: 20px;
}

#dia p{
  line-height: 60px;
}

#escrita {
  width: 50%;
  background-color: #a8dadb3d;
  border-radius: 10px;
}
#escrita p{
  padding: 10px;
}


#table1 {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2
}